aside [aria-label=career-history] li {
  background: url("/cv/assets/images/branch-sprite.png") no-repeat 0 0;
  padding: 8px 0 8px 100px;
}
aside [aria-label=career-history] li.root  { background-position: 0 -530px; }
aside [aria-label=career-history] li.trunk  { background-position: 0 -457px; }
aside [aria-label=career-history] li.open-branch {
  background-position: 0 -303px;
  padding-bottom: 37px;
}
aside [aria-label=career-history] li.branch  { background-position: 0 -217px; }
aside [aria-label=career-history] li.close-branch {
  background-position: 0 -104px;
  padding-top: 30px;
}
aside [aria-label=career-history] li.top  { background-position: 0 15px; }
@media (max-width: 32rem) {
  aside [aria-label=career-history] li {
    background: none !important;
    padding: 5px 0 !important;
  }
  aside [aria-label=career-history] li.open-branch,
  aside [aria-label=career-history] li.close-branch {
    padding: 5px 0 !important;
  }
}
