html {
  font-family: 'Poppins', serif;
  font-size: 16px;
  font-style: normal;
  font-variant-ligatures: common-ligatures;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory !important;
}

body > *:not(dialog) {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: clip;
}

a, button {
  color: var(--color-link);
  cursor: pointer;
  display: inline;
}

button {
  color: var(--color-link);
  padding: calc(var(--fluid-gutter-sm) * 0.3) var(--fluid-gutter-sm);
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

a[href^="https:"] {
  background: var(--color-external-link-bg);
  text-decoration: underline;
}

a[href^="https:"]:hover::after {
  content: ' \2197'
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.05;
}

h1 {
  margin: var(--fluid-gutter-sm) 0;
}

h2 {
  margin: var(--fluid-gutter) 0;
}

h3, h4, h5, h6 {
  margin: calc(var(--fluid-gutter-sm) * 0.5) 0;
}

h1 {
  font-size: var(--fluid-step-4);
  white-space: nowrap;
}
h2 { font-size: var(--fluid-step-3); }
h3 { font-size: var(--fluid-step-2); }
h4 { font-size: var(--fluid-step-1); }
h5 { font-size: var(--fluid-step-0); }
h6 { font-size: var(--fluid-step-0); }

em {
  font-style: normal;
  font-weight: 400;
  padding: 0 calc(var(--fluid-gutter-sm) * 0.1);
}

main > section, main > aside {
  scroll-margin-top: 5rem;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.reveal {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

@keyframes reveal {
  from { opacity: 0.1; transform: translateZ(8rem) translateY(4rem) scale(0.97); }
  to   { opacity: 1; transform: none; }
}

.primary,
main#homepage > section,
main#tag > section {
  background: var(--color-gradient-start);
  background: linear-gradient(180deg, var(--color-gradient-start) 0%, var(--color-gradient-end) 100%);
  color: var(--color-on-primary);
}

.primary a,
main#homepage > section a,
main#tag > section a {
  color: var(--color-on-primary);
}

.primary button {
  background: var(--color-accent);
}

.primary em,
main#homepage > section em,
main#tag > section em {
  color: var(--color-on-primary);
}

.secondary,
dialog,
main#homepage section#interests {
  background: none;
  background-color: var(--color-surface-light);
  color: var(--color-on-light);
}

.secondary a {
  color: var(--color-on-light);
}

.secondary button,
dialog button {
  background: var(--color-accent);
}

.secondary svg {
  fill: var(--color-icon-on-light);
}

.primary {
  background-attachment: fixed;
}

.secondary {
  background-attachment: fixed;
}
