main#homepage > section:not(:last-of-type) {
  margin-bottom: var(--home-section-overlap); /* overlap slightly to show hint of next section */
}

main#homepage > section:not(:last-of-type)::after {
  content: '';
  bottom: 6vh;
  width: clamp(5rem, 15vw, 10rem);
  height: 0px;
  border-width: 1px;
  border-style: solid;
  opacity: 0.5;
  animation: bounce 2s infinite;
}

main#homepage > section:not(:last-of-type):nth-of-type(odd)::after {
  border-color: var(--color-on-primary);
}

main#homepage > section:not(:last-of-type):nth-of-type(even)::after {
  border-color: var(--color-accent);
}

@supports (animation-timeline: view()) {
  main#homepage section#interests .slide-in {
    animation: slide-in linear both;
    animation-delay: 0.1s;
    animation-duration: 0.5s;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(var(--from-x));
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  main#homepage section#interests .row { animation: none; }
}
