.project {
  margin: 2em 0;
  text-align: justify;

  ul.tags {
    font-size: 0.9em;
    margin: 0;
    padding-bottom: 1em;
  }

  ul.tags li {
    display: inline;
    list-style: none;
  }

  ul.tags li::after {
    content: ",";
  }

  ul.tags li:last-child::after {
    content: "";
  }
}

.project:first-of-type {
  margin-top: 0;
}
