aside {
    @extend %bg-primary;

    .grid {
        display: grid !important;
        grid-gap: 1rem 3rem;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        width: 100%;
    }

    .wrapper {
        padding: 1rem 3rem;
    }

    [aria-label=career-history] {
        li {
            background: url("/cv/assets/branch-sprite.png") no-repeat 0 0;
            padding: 10px 0 10px 100px;
        }

        li.root  { background-position: 0 -530px; }
        li.trunk  { background-position: 0 -457px; }
        li.open-branch  { background-position: 0 -296px; padding-bottom: 40px; }
        li.branch  { background-position: 0 -217px; }
        li.close-branch  { background-position: 0 -104px; padding-top: 40px; }
        li.top  { background-position: 0 15px; }
    }

    [aria-label=skills] {
        ol {
            margin-left: -0.45em;
            padding-bottom: 1em;

            li {
                display: flex;
                flex-direction: column;
                margin: 0.1em 0;
            }

            li a {
                display: block;
                height: 100%;
                padding: 0.4em 0.5em;
                text-decoration: none;
                width: 100%;

                color: inherit;
                margin: 0;
            }

            li a:hover {
                border: #fff solid 0.05em;
                border-radius: 0.3em;
                padding: 0.35em 0.45em;
            }

            li span {
                border: #fff solid 0.4em;
                display: inline-block;
            }

            li p {
                margin: 0;
            }
        }
    }


}
