aside {
    font-size: 0.9em;

    .wrapper { margin-top: 0; }

    h2 {
        background-repeat: no-repeat;
        background-size: 2.2em;
        background-position: -4px center;
        margin: 0.8em 0;
        padding: 1em 0 1em 2.5em;
    }

    em {
        background: none !important;
        color: inherit !important;
        font-style: italic;
    }

    [aria-label=career-history] {
        @media (max-width: $breakpoint_sm) {
            li {
                background: none !important;
                padding: 5px 0 !important;
            }
            li.open-branch, li.close-branch {
                padding: 5px 0 !important;
            }
        }

        h2 {
            background-image: url("/cv/assets/career.svg");
        }

        li {
            background: url("/cv/assets/branch-sprite.png") no-repeat 0 0;
            padding: 8px 0 8px 100px;
        }

        li.root  { background-position: 0 -530px; }
        li.trunk  { background-position: 0 -457px; }
        li.open-branch  {
            background-position: 0 -303px;
            padding-bottom: 37px;
        }
        li.branch  { background-position: 0 -217px; }
        li.close-branch  {
            background-position: 0 -104px;
            padding-top: 30px;
        }
        li.top  { background-position: 0 15px; }
    }

    [aria-label=skills] {
        h2 {
            background-image: url("/cv/assets/skills.svg");
        }

        ol {
            display: flex;
            flex-flow: column nowrap;
            gap: 0.4em;

            li {
                display: flex;
                flex-direction: column;
            }

            li a {
                border: $primary_bg solid 0.05em;
                border-radius: 0.3em;
                display: block;
                height: 100%;
                padding: 0.2em 0.3em;
                text-decoration: none;
                width: 100%;

                color: inherit;
                margin: 0;
            }

            li a:hover {
                border-color: $primary_fg !important;
            }

            li span {
                border: $primary_fg solid 0.4em;
                display: inline-block;
            }

            li p {
                margin: 0;
            }
        }
    }

    [aria-label=education] {
        h2 {
            background-image: url("/cv/assets/education.svg");
        }
    }

    [aria-label=training] {
        h2 {
            background-image: url("/cv/assets/training.svg");
        }
    }
}
