aside {
    .progress {
        margin-left: -0.45em;
        padding-bottom: 1em;

        li {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin: 0.1em 0;
        }

        li a {
            display: block;
            height: 100%;
            padding: 0.4em 0.5em;
            text-decoration: none;
            width: 100%;

            color: inherit;
            margin: 0;
        }

        li a:hover {
            border: #fff solid 0.05em;
            border-radius: 0.3em;
            padding: 0.35em 0.45em;
        }

        li span {
            border: #fff solid 0.4em;
            display: inline-block;
        }

        li p {
            margin: 0;
        }
    }
}