html {
  font-family: $base_font_family;
  font-size: $base_font_size;
  font-style: normal;
  font-variant-ligatures: common-ligatures;
  font-weight: 300;
  letter-spacing: $base_letter_spacing;
  line-height: $base_line_height;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  min-width: 515px;
}

body > * {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

body > * .wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1rem 3rem 1rem 3rem;
  max-width: 1024px;
  width: 100%;
}

body > * .no-width {
  width: initial;
}

%bg-primary {
  background-color: $base_primary_colour_100;
  color: $base_secondary_colour_100;

  font-weight: 200;

  a, a:visited {
    color: $base_secondary_colour_100;
  }

  .line-break-left {
    background: -webkit-linear-gradient(88deg, $base_primary_colour_100 49%, $base_primary_colour_200 50%);
  }

  .line-break-right {
    background: -webkit-linear-gradient(-88deg, $base_primary_colour_100 49%, $base_primary_colour_200 50%);
  }
}

%bg-secondary {
  background-color: $base_primary_colour_200;

  color: $base_secondary_colour_200;

  a, a:visited {
    color: $base_secondary_colour_200;
  }

  .line-break-left {
    background: -webkit-linear-gradient(88deg, $base_primary_colour_100 49%, $base_primary_colour_200 50%);
  }

  .line-break-right {
    background: -webkit-linear-gradient(-88deg, $base_primary_colour_100 49%, $base_primary_colour_200 50%);
  }
}

main:nth-child(odd)
{
  @extend %bg-primary;
}

main:nth-child(even)
{
  @extend %bg-secondary;
}

a {
  color: $base_anchor_text_colour_normal;
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: $base_anchor_text_colour_visited;
}

a:hover {
  color: $base_anchor_text_colour_hovered;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1, h2 {
  margin: 2rem 0;
}

h3, h4, h5, h6 {
  margin: 0.5rem 0;
}

h1 { font-size: 1em * ($base_heading_modifier * 6) + 1 }
h2 { font-size: 1em * ($base_heading_modifier * 5) + 1 }
h3 { font-size: 1em * ($base_heading_modifier * 3) + 1 }
h4 { font-size: 1em * ($base_heading_modifier * 2) + 1 }
h5 { font-size: 1em * ($base_heading_modifier * 1) + 1 }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 2em;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 2em;
}

.grid {
  display: grid;
  grid-gap: 3.5rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.line-break {
  display: block;
  height: 7em;
  width: 100%;
}