html {
  font-family: $base_font_family;
  font-size: $base_font_size;
  font-style: normal;
  font-variant-ligatures: common-ligatures;
  font-weight: $base_font_weight;
  letter-spacing: $base_letter_spacing;
  line-height: $base_line_height;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
}

body > *:not(dialog) {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

a, button {
  background: none;
  border: none;
  color: $base_anchor_text_colour_normal;
  cursor: pointer;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
}

button {
  color: $base_anchor_text_colour_normal;
  padding: 0.5em 1em;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

a[href^="https:"] {
  color: $primary_highlight !important;
}

a[href^="https:"]:hover::after {
  content: ' ↗'
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1, h2 {
  margin: 2rem 0;
}

h3, h4, h5, h6 {
  margin: 0.5rem 0;
}

h1 { font-size: 1em * ($base_heading_modifier * 6) + 1 }
h2 { font-size: 1em * ($base_heading_modifier * 5.5) + 1 }
h3 { font-size: 1em * ($base_heading_modifier * 3) + 1 }
h4 { font-size: 1em * ($base_heading_modifier * 2) + 1 }
h5 { font-size: 1em * ($base_heading_modifier * 1) + 1 }

em {
  font-style: normal;
  font-weight: $base_font_weight + 100;
  padding: 0 0.1em;
}

input, textarea {
  font-family: $base_font_family;
  font-size: $base_font_size;
  font-style: normal;
  font-variant-ligatures: common-ligatures;
}

%bg-primary {
  background-color: $primary_bg;
  color: $primary_fg;

  a {
    color: $primary_fg;
  }

  button {
    background: rgba($primary_highlight, 1);
  }

  svg {
    fill: rgba($primary_highlight, 0.8);
  }

  em {
    color: $primary_emphasis;
  }

  .line-break-left {
    background: -webkit-linear-gradient(88deg, $primary_bg 49%, $secondary_bg 50%);
  }

  .line-break-right {
    background: -webkit-linear-gradient(-88deg, $primary_bg 49%, $secondary_bg 50%);
  }
}

%bg-secondary {
  background-color: $secondary_bg;

  color: $secondary_fg;

  a {
    color: $secondary_fg;
  }

  button {
    background: $secondary_highlight;
  }

  svg {
    fill: rgba($secondary_highlight, 1);
  }

  em {
    color: $secondary_emphasis;
  }

  .line-break-left {
    background: -webkit-linear-gradient(88deg, $primary_bg 49%, $secondary_bg 50%);
  }

  .line-break-right {
    background: -webkit-linear-gradient(-88deg, $primary_bg 49%, $secondary_bg 50%);
  }
}

main:nth-child(odd), .primary
{
  @extend %bg-primary;
}

main:nth-child(even), .secondary
{
  @extend %bg-secondary;
}

main > section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;

    .wrapper {
      align-items: center;
      gap: 0 3rem;
    }
}

.flex {
  display: flex;
  flex-flow: row wrap;
  gap: 2em 3.5em;

  @media (max-width: $breakpoint_md) { flex-flow: column wrap; }
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.line-break, .line-break-md, .line-break-lg {
  display: block;
  width: 100%;
}

.line-break-md { height: 3em; }
.line-break-lg { height: 7em; }

.wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  justify-content: space-between;
  margin: 1em 3em;
  max-width: 1024px;
  width: 100%;
}

.hide {
  display: none !important;
}
@media (max-width: $breakpoint_sm) { .hide-sm { display: inherit !important; } }
@media (max-width: $breakpoint_md) { .hide-md { display: none !important; } }
@media (min-width: $breakpoint_md) { .hide-lg { display: none !important; } }

