html {
  font-family: $base_font_family;
  font-size: $base_font_size;
  font-style: normal;
  font-weight: normal;
  line-height: $base_line_height;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
}

body > * {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

body > * .wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 2rem 3rem;
  max-width: 1024px;
  width: 95%;
}

body > *:nth-child(odd)
{
  background-color: $base_primary_colour_100;
  color: $base_secondary_colour_100;

  .line-break {
    background: $base_primary_colour_200;

    svg {
      fill: $base_primary_colour_100;
      stroke: $base_primary_colour_100;
    }
  }
}

body > *:nth-child(even)
{
  background-color: $base_primary_colour_200;
  color: $base_secondary_colour_200;

  .line-break {
    background: $base_primary_colour_100;

    svg {
      fill: $base_primary_colour_200;
      stroke: $base_primary_colour_200;
    }
  }
}

.line-break {
  width: 100%;

  svg {
    display: block;
    stroke-width: 1;
  }
}

a {
  color: $base_anchor_text_colour_normal;
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: $base_anchor_text_colour_visited;
}

a:hover {
  color: $base_anchor_text_colour_hovered;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
}

h1, h2 {
  margin: 1rem 0;
}

h3, h4, h5, h6 {
  margin: 0.5rem 0;
}

h1 { font-size: 1em * ($base_heading_modifier * 5) + 1 }
h2 { font-size: 1em * ($base_heading_modifier * 4) + 1 }
h3 { font-size: 1em * ($base_heading_modifier * 3) + 1 }
h4 { font-size: 1em * ($base_heading_modifier * 2) + 1 }
h5 { font-size: 1em * ($base_heading_modifier * 1) + 1 }

