dialog {
    border: 0;
    border-radius: 0.2em;
    margin: 25vh clamp(1rem, 5vw, 2rem);
    padding: var(--fluid-gutter) calc(var(--fluid-gutter) * 1.5);

    &[open] {
        animation: fade-in 0.5s ease-in-out;
        display: flex;
        justify-self: center;
        flex-flow: column nowrap;
        gap: var(--fluid-gutter-sm);
    }

    header {
        align-items: flex-start;
        flex-flow: row nowrap !important;
        justify-content: space-between;

        h3 { margin: 0; }
    }

    button.close {
        background: none;
        display: flex;
        justify-content: flex-end;
        padding: 0;

        i {
            background: url("/cv/assets/images/close.svg") no-repeat center center;
            background-color: var(--hover);
            display: inline-block;
            width: clamp(1.25em, 2vw, 1.75em);
            height: clamp(1.25em, 2vw, 1.75em);
        }
    }

    form {
        display: flex;
        flex-flow: column nowrap;
        gap: var(--fluid-gutter-sm);

        input, textarea {
            border: 1px solid #ccc;
            border-radius: 0.2em;
            padding: calc(var(--fluid-gutter-sm) * 0.5);
        }

        textarea {
            resize: vertical;
            height: clamp(8em, 15vh, 12em);
        }
    }
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.85);
}
