body > footer {
    padding: 1rem 0;

    #social {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        gap: 0.5rem;

        li a {
            display: flex;
            align-items: center;
        }

        li a:hover svg {
            fill: $secondary_fg;
        }

        svg {
            height: 16px;
            width: 16px;
        }
    }
}