body > footer {
    padding: var(--fluid-gutter-sm) 0;
    scroll-snap-align: start;
    scroll-snap-stop: always;

    #social {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        gap: calc(var(--fluid-gutter-sm) * 0.5);

        li a {
            background: none;
            display: flex;
            align-items: center;
        }

        li a:hover:after {
            content: none;
        }

        svg {
            height: clamp(14px, 2vw, 24px);
            width: clamp(14px, 2vw, 24px);
            fill: $secondary_fg;
        }
    }
}
