body > footer {
    padding: 1rem 0;

    @media (max-width: 515px) {
        .wrapper {
            justify-content: space-around;
        }
    }

    #social:before {
        content: "Follow me:";
        font-size: 0.9rem;
    }
    #social {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        gap: 0.5rem;

        li a {
            display: flex;
            align-items: center;
        }

        svg {
            height: 16px;
            width: 16px;
        }
    }
}