body > header {
  border-top: 0.2rem solid $primary_highlight;

  .wrapper {
    align-items: center;
    gap: 0.5em;
    flex-flow: row nowrap;
    margin: 0 3rem;
  }

  h1 {
    flex: 1;
    margin-left: 0.4em;
  }

  nav {
    @media (max-width: 850px) {
      background: url("/cv/assets/hamburger.svg") no-repeat;
      background-size: 3rem;
      width: 3rem;
      height: 3rem;
      ul { display: none !important; }
    }

    ul {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      justify-content: space-between;
      padding: 1rem 0;
      width: 75%;

      li {
        align-items: center;
        display: flex;
      }
    }
  }


}

#badge {
  border: solid 1px transparent;
  border-radius: 50%;
  //filter: drop-shadow(0.2em 0.5em 1.5em #fff) opacity(0.9);
  overflow: hidden;
  width: 3rem;
}

#badge img {
  display: block;
  width: 100%;
  height: auto;
}