body > header {
  border-top: 0.3rem solid $base_primary_colour_110;

  .wrapper {
    align-items: center;
    padding: 0 3rem;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
    width: 75%;
  }

}