body > header {
  @extend  %bg-secondary;
  border-top: 0.2rem solid $base_primary_colour_110;

  .wrapper {
    align-items: center;
    margin: 0 3rem;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    padding: 1rem 0;
    width: 75%;
  }
}