main section#home {
    @extend %bg-primary;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;

    .wrapper {
        align-items: center;
        justify-content: center !important;
        gap: 3rem;
    }

    p {
        //max-width: 75%;
        margin-bottom: 3rem;
    }
}

#badge {
    border: solid 1px transparent;
    border-radius: 50%;
    filter: drop-shadow(0.2em 0.5em 1.5em $base_primary_colour_110) opacity(0.9);
    overflow: hidden;
    min-width: 10rem;
    max-width: 20%;
}

#badge img {
    display: block;
    width: 100%;
    height: auto;
}