main section#home {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
    justify-content: center;
    width: 100%;

    .wrapper {
        align-items: center;
    }

    p {
        max-width: 75%;
    }
}

main > section:first-of-type {
    @extend %bg-primary;
}

#badge {
    border: solid 1px transparent;
    border-radius: 50%;
    overflow: hidden;
    min-width: 10rem;
    max-width: 20%;
}

#badge img {
    display: block;
    width: 100%;
    height: auto;
}