#badge {
    border: solid 1px transparent;
    border-radius: 50%;
    height: 7rem;
    margin-top: 1rem;
    overflow: hidden;
    width: 7rem;
}

#badge img {
    display: block;
    width: 100%;
    height: auto;
}