#interests {
    .column { align-items: center; }
    text-align: justify;

    dt {
        font-size: 1.1em;
        font-weight: 600;
        margin-bottom: 0.5em;
    }

    img { width: 10em }

    [aria-label="teams"] {
        img { margin: 1.5em 0; width: 6.5em }
    }
}