#interests {
    text-align: center;
    .column { align-items: center; }

    dt {
        font-size: 1.1em;
        font-weight: 600;
        margin-bottom: 0.5em;
    }

    img {
        margin: 1em;
        width: 9em
    }

}