main section.projects {
  display: grid;
  grid-gap: 3.5rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

article.project {
  display: flex;
  flex-direction: column;
  text-align: justify;

  .tags li {
    display: inline;
    font-size: 0.85em;
    line-height: $base_line_height * 2;
  }

  .tags li:after {
    content: ', ';
  }

  .tags li:last-child:after {
    content: '';
  }
}