section.subpage {
    justify-items: center;
    width: 100%;
    
    .wrapper {
        align-items: flex-start;
        flex-flow: column wrap;
        gap: var(--fluid-gutter-sm) calc(var(--fluid-gutter) * 3);
        margin: 0;
        padding: 0 var(--fluid-gutter);
        padding-bottom: var(--fluid-gutter);
        text-align: left;
        width: 100%;
    }

    &.primary {
        @extend %bg-primary;
        background-attachment: fixed;
    }

    &.secondary {
        @extend %bg-secondary;
        background-attachment: fixed;
    }
}
