main section#tag {
    @extend %bg-primary;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;

    .wrapper {
        align-items: center;
        gap: 3rem;
        justify-content: center !important;
        margin-bottom: 0;
    }

    p {
        margin-bottom: 3rem;
    }
}
