{% include line-break.html direction="left" %}
<aside class="primary">
    {% if page.url == "/" %}
    <div class="wrapper">
        <div class="flex">
            <section class="column" aria-label="career-history">
                <h2>Career</h2>
                <ol>
                {% assign career = site.data.career | sort: "from_date" | reverse %}
                {% for position in career %}
                    <li class="{{ position.class }}">
                        <div>
                            <span><em>{{ position.org }}</em></span>
                            <span>{{ position.role }}</span>
                        </div>
                        <div>{{ position.from_date | date: "%Y" }} - {{ position.to_date | date: "%Y" | default: 'Now' }}</div>
                    </li>
                {% endfor %}
                </ol>
            </section>
            <div class="column">
                <section aria-label="skills">
                    <h2>Skills / Expertise</h2>
                    <ol>
                        {% assign site_tags = site.tags | slice: 0, 5 | sort: "level" | reverse %}
                        {% for tag in site_tags %}
                        <li>
                            <a href="{{ tag.url | relative_url }}" target="_self">
                                <p>{{ tag.title }}</p>
                                <span style="width: {{ tag.level | minus: 16 }}%;"></span>
                                <small>{{ tag.level }}%</small>
                            </a>
                        </li>
                        {% endfor %}
                    </ol>
                </section>
                <section aria-label="education">
                    <h2>Education</h2>
                    <ol class="education">
                    {% assign education = site.data.education | sort: "from_date" | reverse %}
                    {% for period in education %}
                        <li>
                            <div>
                                <span>{{ period.award }} {{ period.subject }}</span>
                                <span><em>{{ period.institution }}</em></span>
                            </div>
                            <div>{{ period.from_date | date: "%Y" }} - {{ period.to_date | date: "%Y" | default: 'Now' }}</div>
                        </li>
                    {% endfor %}
                    </ol>
                </section>
                <section aria-label="training">
                    <h2>Training</h2>
                    <ul>
                        <li>Linux Foundation Systems Administrator</li>
                        <li>ITIL Foundation in IT Service Management</li>
                        <li>Prince 2 Foundation</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
    <div class="line-break-md"></div>
    {% endif %}
</aside>
