<dialog>
    <header class="flex">
        <h3>Contact</h3>
        <button class="close" aria-label="close" autofocus onclick="javascript: (() => document.querySelector('dialog')?.close())()"><i></i></button>
    </header>
    <p>I'm always on the look out for and interested to hear about new opportunities.</p>
    <p>Please fill in your name and email and I will try to respond within 24 hours.</p>
    <form action="https://formkeep.com/f/f20b7c33521d"
          accept-charset="UTF-8"
          enctype="multipart/form-data"
          method="POST">
        <input name="full_name" type="text" placeholder="Name" required>
        <input name="email" type="email" placeholder="Email" required>
        <textarea name="message" placeholder="Message" ></textarea>
        <button type="submit">Send</button>
    </form>
</dialog>