<header class="secondary" role="banner">
    <div class="wrapper">
        <nav>
            <div class="profile-photo">
                <img src="{{ '/assets/images/profile.jpeg' | relative_url }}" alt="my profile photo"/>
            </div>
            <h1><a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a></h1>
            <input class="hide" id="menu-toggle" type="checkbox" />
            <label for="menu-toggle" class="hide-lg" aria-label="menu toggle"></label>
            <div class="hide-lg break"></div>
            <ul class="hide-sm hide-md">
                {%- assign pages = site.pages | sort: 'order' -%}
                {% for page in pages %}
                {% if page.title %}
                <li><a href="{{ page.permalink | relative_url }}">{{ page.title }}</a></li>
                {% endif %}
                {% endfor %}
                <li><button aria-label="contact" name="contact" onclick="javascript:(() => document.querySelector('dialog')?.showModal())()" type="button">Contact</button></li>
            </ul>
        </nav>
    </div>
</header>