{% for project in site.projects %}
{% if include.tag == nil or project.tags contains include.tag %}
<article class="project">
    <h3>{{ project.title }}</h3>
    <h4><em>{{ project.role }}</em>, {{ project.org }}</h4>
    <ul>
        {% for tag in project.tags %}
        {% assign tag_data = site.tags | where: "title", tag | first %}
        <li>{% if tag_data %}<a href="{{ tag_data.url | relative_url }}">{% endif %}{{ tag }}{% if tag_data %}</a>{% endif %}</li>
        {% endfor %}
    </ul>
    <div>
        {{ project.content | markdownify }}
    </div>
</article>
{% endif %}
{% endfor %}