{% assign projects_by_date = site.projects | sort: "start_date" | reverse %}
<section class="projects">
    {% for project in projects_by_date %}
    {% if include.tag == nil or project.tags contains include.tag %}
    <article class="project">
        <h3>{{ project.title }}</h3>
        <h4>{{ project.role }}</h4>
        <h5>{{ project.org }}</h5>
        <ul class="tags">
            {% assign tags_by_title = project.tags | sort %}
            {% for tag in tags_by_title %}
            {% assign tag_data = site.tags | where: "title", tag | first %}
            <li>{% if tag_data %}<a href="{{ tag_data.url | relative_url }}">{% endif %}{{ tag }}{% if tag_data %}</a>{% endif %}</li>
            {% endfor %}
        </ul>
        <div>
            {{ project.content | markdownify }}
        </div>
    </article>
    {% endif %}
    {% endfor %}
</section>