<aside>
    <h2>Skills / Expertise</h2>
    <ol class="progress">
        {% assign site_tags = site.tags | sort: "level" | reverse %}
        {% for tag in site_tags %}
        <li>
            <a href="{{ tag.url | relative_url }}" target="_self">
                <p>{{ tag.title }}</p>
                <span style="width: {{ tag.level | minus: 16 }}%;"></span>
                <small>{{ tag.level }}%</small>
            </a>
        </li>
        {% endfor %}
    </ol>

    <h2>Career</h2>
    <ol class="career">
    {% assign career = site.data.career | sort: "from_date" | reverse %}
    {% for position in career %}
        <li>
            <div>
                <span>{{ position.role }}</span>
                <span><em>{{ position.org }}</em></span>
            </div>
            <div>{{ position.from_date | date: "%Y" }} - {{ position.to_date | date: "%Y" | default: 'Now' }}</div>
        </li>
    {% endfor %}
    </ol>

    <h2>Education</h2>
    <table>
        <tbody>
        <tr>
            <td>BA 1st Class Hons, Cultural Studies and Creative Studies in English</td>
            <td>Bath Spa University</td>
            <td>2005–2008</td>
        </tr>
        </tbody>
    </table>

    <h2>Training</h2>
    <ul>
        <li>Linux Foundation Systems Administrator</li>
        <li>ITIL Foundation in IT Service Management</li>
        <li>Prince 2 Foundation</li>
    </ul>

</aside>