<aside>
    <h2>Skills</h2>
    <ul class="progress">
        {% assign site_tags = site.tags | sort: "level" | reverse %}
        {% for tag in site_tags %}
        <li>
            <a href="{{ tag.url | relative_url }}" target="_self">
                <p>{{ tag.title }}</p>
                <span style="width: {{ tag.level | minus: 16 }}%;"></span>
                <small>{{ tag.level }}%</small>
            </a>
        </li>
        {% endfor %}
    </ul>

    <h2>Career</h2>
    <table>
        <tbody>
        {% for item in site.data.career %}
            <tr>
                <td>{{ item.role }}</td>
                <td>{{ item.org }}</td>
                <td>{{ item.tenure }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Education</h2>
    <table>
        <tbody>
        <tr>
            <td>BA 1st Class Hons, Cultural Studies and Creative Studies in English</td>
            <td>Bath Spa University</td>
            <td>2005–2008</td>
        </tr>
        </tbody>
    </table>

    <h2>Training</h2>
    <ul>
        <li>Linux Foundation Systems Administrator</li>
        <li>ITIL Foundation in IT Service Management</li>
        <li>Prince 2 Foundation</li>
    </ul>

</aside>