<aside>
    <h2>Skills</h2>
    <ul class="progress">
        {% assign site_tags = site.tags | sort: "level" | reverse %}
        {% for tag in site_tags %}
        <li>
            <a href="{{ tag.url | relative_url }}" target="_self">
                <p>{{ tag.title }}</p>
                <span style="width: {{ tag.level | minus: 16 }}%;"></span>
                <small>{{ tag.level }}%</small>
            </a>
        </li>
        {% endfor %}
    </ul>

    <h2>Career</h2>
    <table>
        <tbody>
        <tr>
            <td>Senior Software Engineer</td>
            <td>Triptease</td>
            <td>2019 – present</td>
        </tr>
        <tr>
            <td>Devops Coach</td>
            <td>Triptease</td>
            <td>2017 – 2019</td>
        </tr>
        <tr>
            <td>Devops Engineer</td>
            <td>Triptease</td>
            <td>2015 – 2017</td>
        </tr>
        <tr>
            <td>Devops / Delivery Manager</td>
            <td>GForces</td>
            <td>2011 – 2015</td>
        </tr>
        <tr>
            <td>IT Project Manager</td>
            <td>GForces</td>
            <td>2009 – 2011</td>
        </tr>
        <tr>
            <td>IT Project Manager</td>
            <td>Milsted Langdon</td>
            <td>2008 – 2009</td>
        </tr>
        </tbody>
    </table>

    <h2>Education</h2>
    <table>
        <tbody>
        <tr>
            <td>BA 1st Class Hons, Cultural Studies and Creative Studies in English</td>
            <td>Bath Spa University</td>
            <td>2005–2008</td>
        </tr>
        </tbody>
    </table>

    <h2>Training</h2>
    <ul>
        <li>Linux Foundation Systems Administrator</li>
        <li>ITIL Foundation in IT Service Management</li>
        <li>Prince 2 Foundation</li>
    </ul>

</aside>