<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {%- include head.html -%}
  <body>
    <header class="site-header" role="banner">
      <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
      <div id="badge">
        <img src="{{ '/assets/profile.jpeg' | relative_url }}" alt="my profile photo"/>
      </div>
    </header>
    <main aria-label="Content">
      {{ content }}
      {%- include side-panel.html -%}
    </main>
    {%- include footer.html -%}
  </body>
</html>