<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {%- include head.html -%}
  <body>
    <header role="banner">
      <div class="wrapper">
        <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
        <div id="badge">
          <img src="{{ '/assets/profile.jpeg' | relative_url }}" alt="my profile photo"/>
        </div>
      </div>
    </header>
    <main aria-label="Content">
      {% include line-break.html direction="left" %}
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include aside.html -%}
    {%- include footer.html -%}
  </body>
</html>